@font-face {
  font-family: 'bitbit';
  src: url('../public/fonts/DNFBitBitOTF.otf') format('truetype'),
    url('../public/fonts/DNFBitBitTTF.ttf') format('woff');
}

#App {
  font-family: 'bitbit';
}
